{% load paper_forms %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Example page</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <style>
      .required label:not(.custom-control-label):not(.form-check-label):after {
          content: '*';
          margin-left: 0.2em;
          color: #dc3545;
      }
    </style>
  </head>

  <body>
    <div class="container py-5">

      {% if messages or form.non_field_errors %}
        <ul class="list-unstyled">
          {% for message in messages %}
            <li>
              <div class="alert alert-success" role="alert">
                {{ message }}
              </div>
            </li>
          {% endfor %}

          {% for message in form.non_field_errors %}
            <li>
              <div class="alert alert-danger" role="alert">
                {{ message }}
              </div>
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <fieldset>
          <legend>Text fields</legend>
          {% field form.char placeholder="Enter your name" %}
          {% field form.number %}
          {% field form.email placeholder="e.g. user@gmail.com" %}
          {% field form.password placeholder="Enter your password" %}
          {% field form.url placeholder="Enter your website" %}
          {% field form.text placeholder="Enter some text" rows=4 %}
        </fieldset>

        <fieldset class="mt-4">
          <legend>Selects</legend>
          {% field form.select %}
          {% field form.select_multiple %}
        </fieldset>

        <fieldset class="mt-4">
          <legend>File fields</legend>
          {% field form.file %}
          {% field form.image %}
        </fieldset>

        <fieldset class="mt-4">
          <legend>Checkboxes</legend>
          {% field form.checkbox %}
          {% field form.custom_checkbox class="custom-control-input" %}
          {% field form.checkbox_multiple %}
          {% field form.custom_checkbox_multiple class="custom-control-input" %}
        </fieldset>

        <fieldset class="mt-4">
          <legend>Radios</legend>
          {% field form.radio %}
          {% field form.custom_radio class="custom-control-input" %}
        </fieldset>

        <fieldset class="mt-4">
          <legend>Hidden and Readonly</legend>
          {% field form.honeypot %}
          {% field form.readonly readonly=True %}
        </fieldset>

        <button type="submit" class="btn btn-success mt-3">
          Submit
        </button>

        <button type="submit" name="add-errors" class="btn btn-danger mt-3 ml-3">
          Submit with errors
        </button>
      </form>
    </div>
  </body>
</html>
